.about-info {
  display: grid;
  grid-template-areas:
    'bioimage bio bio'
    'job-1 job-2 job-3';
  grid-gap: 2rem;
  padding: 2rem 0;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.2rem;

  .bio-image {
    grid-area: bioimage;
    max-width: 250px;
    width: 100%;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $primary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job-1;
  }

  .job-2 {
    grid-area: job-2;
  }

  .job-3 {
    grid-area: job-3;
  }

  .job {
    border-bottom: 5px solid $secondary-color;
    background-color: lighten($primary-color, 5);
    padding: 1rem;

    h6 {
      margin-bottom: 0.5rem;
    }
  }
}
