// Menu button
.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  @include easeOut;
  cursor: pointer;

  .btn-line {
    width: 28px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    @include easeOut;
  }

  // Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
  }
}

// Menu overlay
.menu {
  visibility: hidden;
  display: flex;
  opacity: 0.9;
  position: fixed;
  width: 100%;

  &.show {
    visibility: visible;
    height: 100vh;
  }

  &-branding,
  &-nav {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include easeOut;
  }

  // Branding side
  &-branding {
    background-color: $primary-color;
    transform: translate3d(0, 100%, 0);

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      background-image: url('../img/portrait.jpg');
      background-size: cover;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 3px solid $secondary-color;
    }
  }

  // Nav side
  &-nav {
    background-color: darken($primary-color, 5);
    transform: translate3d(0, -100%, 0);

    &.show {
      transform: translate3d(0, 0, 0);
    }

    // Nav item
    .nav-item {
      transform: translate3d(600px, 0, 0);
      @include easeOut;

      &.show {
        transform: translate3d(0, 0, 0);
      }

      &.current > a {
        color: $secondary-color;
      }
    }

    // Nav link
    .nav-link {
      display: inline-block;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      font-size: 1.8rem;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
