@import 'config';
@import 'menu';
@import 'home';
@import 'about';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

li {
  list-style-type: none;
}

.text-secondary {
  color: $secondary-color;
}

h1,
h2,
h3 {
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    font-size: 1.5rem;
  }
}

body {
  @include background;
  color: set-text-color($primary-color);
  background-color: $primary-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

footer {
  text-align: center;
  padding: 1rem;
  height: 60px;
  background-color: darken($primary-color, 10);
  color: set-text-color($primary-color);
}

@import 'mobile';
